body {
    margin: 0px 8px;}

#page {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;}

/* NAVBAR */
#nav-toggle, nav-toggle-switch, nav-toggle-wrapper {
    display: none;}

nav {
    height: 68px;}

.navbar {
    float: left;
    padding: 0px;
    margin: 22px 0;}
  
li.nav-element {
    display: inline;
    padding: 22px;
    margin: -2.4px;
    border-collapse: collapse;}

a.social-icon {
    margin-left: 20px;}

.social {
    float: right;
    margin: 18px 20px 18px 0px;}

a:first-child > li.nav-element, a.first{
    margin-left: 0;}


/* mobile devices */
@media (max-width: 750px) {
    #page {
        margin-top: 70px;}
    
    body {
        margin: 0;}
    
    #nav-toggle-wrapper {
        position: fixed;
        height: 70px;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;}
    
    #nav-toggle-switch {
        display: flex;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 50px;
        height: 45px;
        background: none;
        align-items: center;}
    
    #nav-toggle-switch span, #nav-toggle-switch span:before, #nav-toggle-switch span:after {
        transition: all 300ms ease-in-out;}
    
    #nav-toggle-switch span {
        position: relative;
        width: 50px;
        height: 2px;
        display: block;}
    
    #nav-toggle-switch span:before {
        content: "";
        position: relative;
        top: -16px;
        width: 50px;
        height: 2px;
        display: block;}
    
    #nav-toggle-switch span:after {
        content: "";
        position: relative;
        top: 14px;
        width: 50px;
        height: 2px;
        display: block;}
    
    #nav-toggle-switch.active span {
        background: transparent;}
    
    #nav-toggle-switch.active span:before {
        transform: rotate(-45deg);
        top: 0px;}
    
    #nav-toggle-switch.active span:after {
        transform: rotate(45deg);
        top: -2px;}
    
    nav {
        height: 100%;
        position: fixed;
        width: 250px;
        top: 70;
        transition: all 300ms ease-in-out;}
    
    nav.visible {
        right: 0px;}
    
    nav.hidden {
        right: -250px;}
    
    li.nav-element {
        display: block;
        margin: 0;
        padding: 22px;}
    
    .navbar {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0;}
    
    .social {
        position: absolute;
        width: 100%;
        bottom: 70px;
        display: block;
        float: none;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 19px;
        margin: 0;
        border-top: thin solid hsl(0,0%, 10%);}
    
}

/* NAVBAR END*/


#banner {
    padding: 65px 10px;
    text-align: center;
    overflow: none;}


/* --- CONTENT --- */
article {
    overflow: auto;
    text-align: center;
    margin: 0;
    width: 90%;
    margin: 0 auto;}

div.border {
    text-align: center;
    clear: both;
    display: block;
    padding: 1%;
    width: 98%;
    margin-bottom: 10px;}

/* image licenses */
article.imageLicense {
    text-align: left;}

.imageLicense img {
    width: 100%;
    max-width: 800px;}


/* beat licenses */
div.license {
    width: 32%;
    margin: 1%;
    float: left;
    text-align: center;}

div.license:first-child {
    margin-left: 0%;}

div.license:nth-child(3) {
    margin-right: 0%;}

div.license h3 {
    margin: 0 0 3px 0;}

div.license-heading {
    padding: 10px;}

div.license ul {
    list-style: none;
    padding: 0 10px;}

div.license li {
    margin-bottom: 20px;}

li.full-terms {
    padding: 15px 10px 0px 10px;}


/* mobile devices */
@media (max-width: 560px) {
    
    div.license, div.license:first-child, div.license:nth-child(3) {
        clear: both;
        width: 100%;
        margin: 10px 0;}
    
    p {
        clear: both;
        width: 100%;}
    
    img {
        clear: both;
        width: 100%;
        height: 100%;}

}
/* beat licenses end */


/* about page */
.heading {
    padding: 65px 10px;
    text-align: center;}

article.about {
    text-align: left;
    padding: 0 20px;
    margin: 15px auto;}

#heading-story {
    margin-top: 45px;}


/* --- CONTENT END --- */


/* FOOTER */
footer {
    bottom: 0px;
    width: 100%;
    padding: 0;}

#footer {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 14px 8px 14px 8px}

footer p {
    float: left;
    margin: 0;}

footer a {
    margin: 0 10px;
    float: right;}

/* mobile devices */
@media (max-width: 560px) {
    
    footer {
        text-align: center;}
    
    footer a, footer p {
        clear: both;
        float: none;
        display: block;}
    
    footer p {
        margin-top: 10px;}
}

/* FOOTER END */














