@import url(layout.css);

@font-face {
    font-family: "AnticSlab-Regular";
    src: url(../fonts/AnticSlab-Regular.ttf);}

* {
    font-family: AnticSlab-Regular;}


/* BACKGROUND */ 
body {
    background: black;
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-position: center top;}


/* NAV */
nav {
    background: hsla(0,0%,100%, 0.4);}

li.active {
    background: hsla(0,0%,0%, 0.2);}

li.nav-element {
    transition: background 125ms ease-in-out;}

li.nav-element:hover {
    background: hsla(0,0%,100%, 0.2);}

ul.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: black;}

a.social-icon path {
    fill: hsl(0, 0%, 8%);
    transition: fill 125ms ease-in-out;}

a.social-icon:hover path {
    fill: hsl(0, 0%, 95%);}


/* mobile */
@media (max-width: 750px) {
    #nav-toggle-wrapper {
        background: hsla(0, 0%, 100%, 0.85);}
    
    #nav-toggle-switch span, #nav-toggle-switch span:before, #nav-toggle-switch span:after {
         background: hsl(0, 0%, 5%);}
    
    nav {
        background: hsla(0, 0%, 0%, 0.7);}
        
    ul.navbar a {
        color: hsl(0, 0%, 100%)}
    
    li.nav-element:hover {
        background: hsla(0, 0%, 100%, 0.1);}
    
    li.active {
        background: transparent;}
    
    a.social-icon path {
        fill: hsl(0, 0%, 80%);
        transition: fill 125ms ease-in-out;}
    
    a.social-icon:hover path {
        fill: hsl(0, 0%, 30%);}
    
    .social {
        border-top: thin solid hsl(0,0%, 80%);}
}
/* NAV END*/



/* BANNER */
#banner {
    background-color: hsl(0, 0%, 20%);}

#banner>h1, #banner>p {
    color:white;}

#banner>h1 {
    font-size: 48px;}

#banner>p {
    font-style: italic;
    font-size: 18px;}

/* BANNER END*/


/* CONTENT */
#content {
    background-color: hsla(0,0%,0%,.4);
    color: hsl(0,0%,90%);}

div.license {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);}
    
div.license-heading {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);
    color: white;}
    
div.license-heading h3 {
    letter-spacing: .05em;}

div.license-heading span {
    color: hsl(0, 0%, 80%);}

del {
    color: hsl(0,0%,70%);}

.p-border {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);}

#content a, footer a {
    color: hsl(0,0%,95%);}

#content a:hover, footer a:hover, a.active {
    color: hsl(0,0%,75%);}

b {
    letter-spacing: .05em;}

/* CONTENT END */


/* FOOTER */
footer {
    background-color: hsla(0,0%,0%,0.4);
    font-size: 90%;
    border-top: solid thin white}

footer p {
    color: hsl(0,0%,95%);}

/* FOOTER END */