@import url(layout.css);

@font-face {
    font-family: "AnticSlab-Regular";
    src: url(../fonts/AnticSlab-Regular.ttf);}

#page {
    font-family: AnticSlab-Regular;}


/* BACKGROUND */ 
body {
    background: black;
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-position: center top;}


/* NAV */
nav {
    background: hsla(0,0%,100%, .4);}

li.active {
    background: hsla(0,0%,0%, 0.2);}

.nav-element {
    -webkit-transition: background 125ms ease-in-out;
    transition: background 125ms ease-in-out;}

.nav-element:hover {
    background: hsla(0,0%,100%, 0.2);}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: black;}

.social-icon path {
    fill: hsl(0, 0%, 8%);
    -webkit-transition: fill 125ms ease-in-out;
    transition: fill 125ms ease-in-out;}

.social-icon:hover path {
    fill: hsl(0, 0%, 95%);}


/* mobile */
@media (max-width: 750px) {
    #nav-toggle-wrapper {
        background: hsla(0, 0%, 100%, 0.85);}
    
    #nav-toggle-switch span, #nav-toggle-switch span:before, #nav-toggle-switch span:after {
         background: hsl(0, 0%, 5%);}
    
    nav {
        background: hsla(0, 0%, 0%, 0.7);}
        
    .navbar a {
        color: hsl(0, 0%, 100%)}
    
    .nav-element:hover {
        background: hsla(0, 0%, 100%, 0.1);}
    
    li.active {
        background: transparent;}
    
    .social {
        border-top: thin solid hsl(0,0%, 80%);}
    
    .social-icon path {
        fill: hsl(0, 0%, 80%);
        -webkit-transition: fill 125ms ease-in-out;
        transition: fill 125ms ease-in-out;}
    
    .social-icon:hover path {
        fill: hsl(0, 0%, 30%);}
}

/* NAV END*/


/* BANNER */
h1 {
    font-size: 48px;
    color: white;}

#banner-bg {
    background: url(../images/shop_banner_bg.jpg) 45% 50%;
    background-size: cover;}

#banner {
    background-color: hsla(0, 0%, 0%, 0);
    color: white;}

#banner h1 span {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transition: 300ms filter ease-in-out;}

#banner:hover h1 span {
    -webkit-filter: blur(2px);
    filter: blur(2px);}

#banner p {
    font-style: italic;
    font-size: 18px;
    -webkit-transition: 300ms filter ease-in-out;
    transition: 300ms filter ease-in-out;}

#banner:hover p {
    filter: blur(2px);}

@media (max-width: 560px){
    #banner-bg {
        background: url(../images/shop_banner_bg_mobile.jpg) 0% 50%;
        background-size: cover;}

}

/* BANNER END*/


/* CONTENT */
#content {
    background-color: hsla(0,0%,0%,.4);
    color: hsl(0,0%,90%);}

#content a, footer a {
    color: hsl(0,0%,95%);}

#content a:visited, footer a:visited {
    color: hsl(0,0%,80%);}

#content a:hover, footer a:hover {
    color: hsl(0,0%,75%);}

del {
    color: hsl(0,0%,70%);}

b {
    letter-spacing: .05em;}

.border {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);}


/* beat licenses */
.license {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);}
    
.license-heading {
    box-shadow: inset 0 0 0 1px hsl(0,0%,90%);
    color: white;}
    
.license-heading h3 {
    letter-spacing: .05em;}

.license-heading span {
    color: hsl(0, 0%, 80%);}


/* about page */
#heading-about-bg {
    background: url(../images/heading_about_bg.jpg) 65% 50%;
    background-repeat: no-repeat;
    background-size: cover;}

.heading {
    background-color: hsla(0, 0%, 0%, .1);}


/* legal text */
.legal-text {
    font-family: sans-serif;}

.legal-text h2 {
    font-size: 28px;
    text-decoration: underline;}

/* CONTENT END */


/* FOOTER */
footer {
    background-color: hsla(0,0%,0%,0.4);
    font-size: 90%;
    border-top: solid thin white}

footer p {
    color: hsl(0,0%,95%);}

/* FOOTER END */