body {
    margin: 0px 8px;}

#page {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;}

/* NAVBAR */
nav {
    height: 68px}

.navbar {
    float: left;
    padding: 0px;
    margin: 22px 0;}
  
li.nav-element {
    display: inline;
    padding: 22px;
    margin: -2.4px;
    border-collapse: collapse;}

a.social-icon {
    margin-left: 20px;}

.social {
    float: right;
    margin: 18px 20px 18px 0px;}

a.first, li.first {
    margin-left: 0;}


/* mobile devices */
@media (max-width: 750px) {
    #page {
        min-width: 320px;}
    
    nav {
        height: auto;
        overflow: none;}
    
    li.nav-element {
        display: block;
        margin: 0;
        padding: 22px;}
    
    .navbar {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0}
    
    .social {
        float: none;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 19px;
        margin: 0;}
    
}

/* NAVBAR END*/


#banner {
    padding: 65px;
    text-align: center;
    overflow: none;}


/* CONTENT */
#content p:first-child {
    margin-top: 0;
    padding-top: 7px;}

#content p:last-child {
    padding-bottom: 10px;
    margin-bottom: 0;}

.imageLicense {
    margin-left: 20px;}

.imageLicense img {
    width: 100%;
    max-width: 800px;}

/*CONTENT END*/


/* FOOTER */
footer {
    bottom: 0px;
    width: 100%;
    padding: 0;}

#footer {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 14px 8px 14px 8px}

footer p {
    float: left;
    margin: 0;}

footer a {
    margin: 0 10px;
    float: right;}

@media (max-width: 560px) {
    footer {
        text-align: center;}
    
    footer a, footer p {
        clear: both;
        float: none;
        display: block;}
    
    footer p {
        margin-top: 10px;
    }
}

/* FOOTER END */














