body {
    margin: 0px 8px;}

#page {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;}

/* NAVBAR */
nav {
    height: 68px}

.navbar {
    float: left;
    padding: 0px;
    margin: 22px 0;}
  
li.nav-element {
    display: inline;
    padding: 22px;
    margin: -2.4px;
    border-collapse: collapse;}

a.social-icon {
    margin-left: 20px;}

.social {
    float: right;
    margin: 18px 20px 18px 0px;}

a.first, li.first {
    margin-left: 0;}


/* mobile devices */
@media (max-width: 750px) {
    
    nav {
        height: auto;
        overflow: none;}
    
    li.nav-element {
        display: block;
        margin: 0;
        padding: 22px;}
    
    .navbar {
        float: none;
        text-align: center;
        padding: 0;
        margin: 0}
    
    .social {
        float: none;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 19px;
        margin:0;
        border-top: thin solid hsl(0,0%, 10%);}
    
}

/* NAVBAR END*/


#banner {
    padding: 65px;
    text-align: center;
    overflow: none;}


/* --- CONTENT --- */

/* image licenses */
#content p:first-child {
    margin-top: 0;
    padding-top: 7px;}

#content p:last-child {
    padding-bottom: 10px;
    margin-bottom: 0;}

article.imageLicense {
    margin-left: 20px;
    overflow: none;}

.imageLicense img {
    width: 100%;
    max-width: 800px;}


/* BEAT LICENSES */
article#beat-licensing {
    overflow: auto;
    text-align: center;
    margin: 0;
    width: 90%;
    margin: 0 auto;}

div.license {
    width: 32%;
    margin: 1%;
    float: left;
    text-align: center;}

div.license:first-child {
    margin-left: 0%;}

div.license:nth-child(3) {
    margin-right: 0%;}

div.license h3 {
    margin: 0 0 3px 0;}


div.license-heading {
    padding: 10px;}

div.license ul {
    list-style: none;
    padding: 0 10px;}

div.license li {
    margin-bottom: 20px;}

li.price {
    padding: 15px 10px 0px 10px;}

div.exclusive-rights {
    text-align: center;
    clear: both;
    display: block;
    padding: 1%;
    width: 98%;
    margin-bottom: 10px;}

/* mobile devices */
@media (max-width: 560px) {
    
    div.license, div.license:first-child, div.license:nth-child(3) {
        clear: both;
        width: 100%;
        margin: 10px 0;}

}
/* BEAT LICENSES END */

/* --- CONTENT END --- */


/* FOOTER */
footer {
    bottom: 0px;
    width: 100%;
    padding: 0;}

#footer {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 14px 8px 14px 8px}

footer p {
    float: left;
    margin: 0;}

footer a {
    margin: 0 10px;
    float: right;}

/* mobile devices */
@media (max-width: 560px) {
    
    footer {
        text-align: center;}
    
    footer a, footer p {
        clear: both;
        float: none;
        display: block;}
    
    footer p {
        margin-top: 10px;
    }
}

/* FOOTER END */














