@import url(layout.css);

@font-face {
    font-family: "AnticSlab-Regular";
    src: url(../fonts/AnticSlab-Regular.ttf);}

* {
    font-family: AnticSlab-Regular;}


/* BACKGROUND */ 
body {
    background-color: black;
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-position: center top;}


/* NAV */
nav {
    background-color: hsla(0,100%,100%,0.4);}

li.active {
    background-color: hsla(0,0%,0%, 0.2);}

li.nav-element:hover {
    background-color: hsla(0,0%,100%, 0.2);}

a.nav-element {
    color: black;
    font-size: 20px;
    text-decoration: none;}

/* NAV END*/


/* SOCIAL */
a.social-icon path {
    fill: hsl(0,0%, 10%);}

a.social-icon:hover path {
    fill: hsl(0, 0%, 95%);}

/* SOCIAL END*/


/* BANNER */
#banner {
    background-color: hsl(0, 0%, 20%);}

#banner>h1, #banner>p {
    color:white;}

#banner>h1 {
    font-size: 48px}

#banner>p {
    font-style: italic;
    font-size: 18px;}

/* BANNER END*/


/* CONTENT */
#content {
    background-color: hsla(0,100%,0%,0.6);
    color: hsl(0,0%,90%);}

div.license {
    box-shadow: inset 0 0 0 1px hsl(0,0%,80%);}
    
div.license-heading {
    background-color: hsl(0, 0%, 20%);
    box-shadow: inset 0 0 0 1px hsl(0,0%,80%);
    color: white;}
    
div.license-heading h3 {
    letter-spacing: .05em;}

div.license-heading span {
    color: hsl(0, 0%, 80%);}

del {
    color: hsl(0,0%,70%);}

li.price {
    font-family: monospace;
    font-size: 140%;
    font-weight: bold;
    letter-spacing: .1em;}

.exclusive-rights {
    box-shadow: inset 0 0 0 1px hsl(0,0%,80%);}

#content a, footer a {
    color: hsl(0,0%,95%);}

#content a:hover, footer a:hover, a.active {
    color: hsl(0,0%,75%);}

/* CONTENT END */


/* FOOTER */
footer {
    background-color: hsla(0,100%,0%,0.4);
    font-size: 90%;}

footer p {
    color: hsl(0,0%,95%);}

/* FOOTER END */